* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product {
  width: 100%;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 1.33%;
}

.Product-Item {
  width: 32%;
  height: 350px;
  background-color: #181818;
  margin-bottom: 20px;
}

.Image {
  width: 100%;
  height: 80%;
  background-color: #101010;
}

.Button {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

@media (max-width: 992px) {
  .Product-Item {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .Product-Item {
    width: 48%;
  }

  .product {
    padding: 10px;
    gap: 4%;
  }
}
